.Wrapper {
	align-content: center;
	background-color: rgb(173, 181, 189);
	color: white;
	display: flex;
	height: 9.6rem;
	margin: auto;
	position: relative;
	width: 97.6rem;
}

.Logo {
	height: 3.2rem;
	display: inline-flex;
	margin: 3.2rem 1.6rem 3.2rem 3.2rem;
	position: relative;
	width: 3.2rem;
}